<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Booking - Multipurpose Online Booking Theme</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="StackBros">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">

    <!-- Dark mode -->
    <script>
        const storedTheme = localStorage.getItem('theme')

        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if(el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                    const activeThemeIcon = document.querySelector('.theme-icon-active use')
                    const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                    const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                    document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                        element.classList.remove('active')
                    })

                    btnToActive.classList.add('active')
                    activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                }

                window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                    if (storedTheme !== 'light' || storedTheme !== 'dark') {
                        setTheme(getPreferredTheme())
                    }
                })

                showActiveTheme(getPreferredTheme())

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            localStorage.setItem('theme', theme)
                            setTheme(theme)
                            showActiveTheme(theme)
                        })
                    })

            }
        })

    </script>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Poppins:wght@400;500;700&amp;display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">

    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

</head>

<body class="dashboard">
<div th:replace="~{common/header :: header}"></div>
<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Content START -->
    <section class="pt-3">
        <div class="container">
            <div class="row g-2 g-lg-4">
                <!-- Sidebar START -->
                <div th:replace="~{common/sidebar-profile :: sidebar}"></div>
                <!-- Main content START -->
                <div class="col-lg-8 col-xl-9 ps-xl-5">

                    <!-- Offcanvas menu button -->
                    <div class="d-grid mb-0 d-lg-none w-100">
                        <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                            <i class="fas fa-sliders-h"></i> Menu
                        </button>
                    </div>

                    <div class="card border bg-transparent">
                        <!-- Card header -->
                        <div class="card-header bg-transparent border-bottom">
                            <h4 class="card-header-title">My Bookings</h4>
                        </div>

                        <!-- Card body START -->
                        <div class="card-body p-0">

                            <!-- Tabs -->
                            <ul class="nav nav-tabs nav-bottom-line nav-responsive nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1"><i class="bi bi-briefcase-fill fa-fw me-1"></i>Upcoming Booking</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-2"><i class="bi bi-x-octagon fa-fw me-1"></i>Canceled Booking</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-3"><i class="bi bi-patch-check fa-fw me-1"></i>Completed Booking</a>
                                </li>
                            </ul>

                            <!-- Tabs content START -->
                            <div class="tab-content p-2 p-sm-4" id="nav-tabContent">

                                <!-- Tab content item START -->
                                <div class="tab-pane fade show active" id="tab-1">
                                    <h6>Upcoming booking (<span th:text="${upcomingBookings.size()}"></span>)</h6>

                                    <div th:each="booking : ${upcomingBookings}" class="card border mb-4">
                                        <div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-lg bg-light rounded-circle flex-shrink-0"><i class="fa-solid fa-bed"></i></div>
                                                <div class="ms-2">
                                                    <h6 class="card-title mb-0">Booking ID: <span th:text="${booking.bookingId}"></span></h6>
                                                    <ul class="nav nav-divider small">
                                                        <li class="nav-item">Room ID: <span th:text="${booking.roomId}"></span></li>
                                                        <li class="nav-item">Status: <span th:text="${booking.status}"></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mt-2 mt-md-0">
                                                <a href="#" class="btn btn-primary-soft mb-0">Manage Booking</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row g-3">
                                                <div class="col-sm-6 col-md-4">
                                                    <span>Check-in</span>
                                                    <h6 class="mb-0" th:text="${#temporals.format(booking.checkIn, 'EEE dd MMM yyyy')}"></h6>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <span>Check-out</span>
                                                    <h6 class="mb-0" th:text="${#temporals.format(booking.checkOut, 'EEE dd MMM yyyy')}"></h6>
                                                </div>
                                                <div class="col-md-4">
                                                    <span>Total Price</span>
                                                    <h6 class="mb-0" th:text="${#numbers.formatDecimal(booking.totalPrice, 0, 'COMMA', 2, 'POINT')} + ' VND'"></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tabs content item END -->

                                <!-- Tab content item START -->
                                <div class="tab-pane fade" id="tab-2">
                                    <h6>Cancelled booking (<span th:text="${cancelledBookings.size()}"></span>)</h6>

                                    <div th:each="booking : ${cancelledBookings}" class="card border mb-4">
                                        <div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-lg bg-light rounded-circle flex-shrink-0"><i class="fa-solid fa-hotel"></i></div>
                                                <div class="ms-2">
                                                    <h6 class="card-title mb-0">Booking ID: <span th:text="${booking.bookingId}"></span></h6>
                                                    <ul class="nav nav-divider small">
                                                        <li class="nav-item">Status: <span th:text="${booking.status}"></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mt-2 mt-md-0">
                                                <a href="#" class="btn btn-primary-soft mb-0">Manage Booking</a>
                                                <p class="text-danger text-md-end mb-0">Booking cancelled</p>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row g-3">
                                                <div class="col-sm-6 col-md-4">
                                                    <span>Check-in</span>
                                                    <h6 class="mb-0" th:text="${#temporals.format(booking.checkIn, 'EEE dd MMM yyyy')}"></h6>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <span>Check-out</span>
                                                    <h6 class="mb-0" th:text="${#temporals.format(booking.checkOut, 'EEE dd MMM yyyy')}"></h6>
                                                </div>
                                                <div class="col-md-4">
                                                    <span>Total Price</span>
                                                    <h6 class="mb-0" th:text="${#numbers.formatDecimal(booking.totalPrice, 0, 'COMMA', 2, 'POINT')} + ' VND'"></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tabs content item END -->

                                <!-- Tab content item START -->
                                <div class="tab-pane fade" id="tab-3">
                                    <h6>Completed booking (<span th:text="${completedBookings.size()}"></span>)</h6>

                                    <div th:each="booking : ${completedBookings}" class="card border mb-4">
                                        <div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-lg bg-light rounded-circle flex-shrink-0"><i class="fa-solid fa-check-circle"></i></div>
                                                <div class="ms-2">
                                                    <h6 class="card-title mb-0">Booking ID: <span th:text="${booking.bookingId}"></span></h6>
                                                    <ul class="nav nav-divider small">
                                                        <li class="nav-item">Status: <span th:text="${booking.status}"></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mt-2 mt-md-0">
                                                <a href="#" class="btn btn-primary-soft mb-0">View Details</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row g-3">
                                                <div class="col-sm-6 col-md-4">
                                                    <span>Check-in</span>
                                                    <h6 class="mb-0" th:text="${#temporals.format(booking.checkIn, 'EEE dd MMM yyyy')}"></h6>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <span>Check-out</span>
                                                    <h6 class="mb-0" th:text="${#temporals.format(booking.checkOut, 'EEE dd MMM yyyy')}"></h6>
                                                </div>
                                                <div class="col-md-4">
                                                    <span>Total Price</span>
                                                    <h6 class="mb-0" th:text="${#numbers.formatDecimal(booking.totalPrice, 0, 'COMMA', 2, 'POINT')} + ' VND'"></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tabs content item END -->
                            </div>

                        </div>
                        <!-- Card body END -->
                    </div>

                </div>
                <!-- Main content END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark p-3">
    <div class="container">
        <div class="row align-items-center">

            <!-- Widget -->
            <div class="col-md-4">
                <div class="text-center text-md-start mb-3 mb-md-0">
                    <a href="index.html"> <img class="h-30px" src="assets/images/logo-light.svg" alt="logo"> </a>
                </div>
            </div>

            <!-- Widget -->
            <div class="col-md-4">
                <div class="text-body-secondary text-primary-hover"> Copyrights ©2023 Booking. Build by <a href="#" class="text-body-secondary">StackBros</a>. </div>
            </div>

            <!-- Widget -->
            <div class="col-md-4">
                <ul class="list-inline mb-0 text-center text-md-end">
                    <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-facebook"></i></a></li>
                    <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-instagram"></i></a></li>
                    <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- ThemeFunctions -->
<script th:src="@{/assets/js/functions.js}"></script>

</body>

<!-- Mirrored from stackbros.in/bookinga/landing/account-bookings.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 May 2025 16:07:33 GMT -->
</html>