<!DOCTYPE html>
<footer class="bg-dark pt-5" th:fragment="footer">
    <div class="container">
        <!-- Row START -->
        <div class="row g-4">

            <!-- Widget 1 START -->
            <div class="col-lg-4">
                <!-- logo -->
                <a href="/">
                    <img class="h-40px" src="/assets/images/logo-light.svg" alt="logo">
                </a>
                <p class="my-3 text-body-secondary">Nền tảng đặt phòng uy tín, tiện nghi hàng đầu Việt Nam cho những
                    chuyến đi trọn vẹn.</p>
                <p class="mb-2"><a href="#" class="text-body-secondary text-primary-hover"><i
                        class="bi bi-telephone me-2"></i>+84 912345678</a></p>
                <p class="mb-0"><a href="#" class="text-body-secondary text-primary-hover"><i
                        class="bi bi-envelope me-2"></i>hamoraplatform@gmail.com</a></p>
            </div>
            <!-- Widget 1 END -->

            <!-- Widget 2 START -->
            <div class="col-lg-6 ms-auto">
                <div class="row g-4">
                    <!-- Link block -->
                    <div class="col-md-6">
                        <h5 class="text-white mb-2 mb-md-4">Website</h5>
                        <ul class="nav flex-column text-primary-hover">
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="/about">Về chúng tôi</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="/faq">Câu hỏi thường gặp</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="/contact">Liên hệ</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="/privacy-policy">Chính sách quyền riêng tư</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="/terms-of-service">Điều khoản dịch vụ</a></li>
                        </ul>
                    </div>

                    <!-- Link block -->
                    <div class="col-md-6">
                        <h5 class="text-white mb-2 mb-md-4">Thành phố</h5>
                        <ul class="nav flex-column text-primary-hover">
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="/hotel-list?locationId=1">Hà Nội</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="/hotel-list?locationId=2">Thành phố Hồ Chí Minh</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="/hotel-list?locationId=3">Đà Nẵng</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="/hotel-list?locationId=4">Hải Phòng</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="/hotel-list?locationId=5">Cần Thơ</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="/hotel-list?locationId=6">Huế</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Widget 2 END -->

            <!-- Widget 3 START -->
            <div class="col-lg-2 ms-auto">
                <div class="row g-4">
                    <!-- Payment card -->
                    <div>
                        <h5 class="text-white mb-2">Thanh toán và bảo mật</h5>
                        <ul class="list-inline mb-0 mt-3">
                            <li class="list-inline-item"><a href="#"><img src="/assets/images/VNPay.svg" class="h-30px" alt="VNPay"></a></li>
                        </ul>
                    </div>

                    <!-- Social media icon -->
                    <div>
                        <h5 class="text-white mb-2">Kết Nối</h5>
                        <ul class="list-inline mb-0 mt-3">
                            <li class="list-inline-item"><a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i class="fab fa-fw fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i class="fab fa-fw fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Widget 3 END -->

        </div><!-- Row END -->

        <!-- Divider -->
        <hr class="mt-4 mb-0">

        <!-- Bottom footer -->
        <div class="row">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
                    <!-- copyright text -->
                    <div class="text-body-secondary text-primary-hover"> ©2025 Hamora Stays</div>
                    <!-- copyright links-->
                </div>
            </div>
        </div>
    </div>
</footer>
