<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="text" lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

<header class="navbar-light header-sticky">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <!-- Logo START -->
            <a class="navbar-brand" href="/">
                <img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
                <img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
            </a>
            <!-- Logo END -->

            <!-- Responsive navbar toggler -->
            <button class="navbar-toggler ms-auto mx-3 p-0 p-sm-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
            </button>

            <!-- Main navbar START -->
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll mx-auto">
                    <!-- Nav item Listing -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Danh sách </a>
                        <ul class="dropdown-menu" aria-labelledby="listingMenu">
                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Khách sạn</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="/hotel-list">Danh sách khách sạn</a></li>
                                    <li><a class="dropdown-item" href="hotel-detail.html">Chi tiết khách sạn</a></li>
                                    <li><a class="dropdown-item" href="room-detail.html">Chi tiết phòng</a></li>
                                    <li><a class="dropdown-item" href="hotel-booking.html">Đặt phòng khách sạn</a></li>

                                </ul>
                            </li>


                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Thêm danh sách</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="join-us.html">Tham gia với chúng tôi</a></li>
                                    <li><a class="dropdown-item" href="add-listing.html">Thêm danh sách</a></li>
                                    <li><a class="dropdown-item" href="listing-added.html">Đã thêm danh sách</a></li>
                                </ul>
                            </li>


                            <li><a class="dropdown-item" href="booking-confirm.html">Xác nhận đặt phòng</a></li>
                            <li><a class="dropdown-item" href="compare-listing.html">So sánh danh sách</a></li>
                            <li><a class="dropdown-item" href="offer-detail.html">Chi tiết ưu đãi</a></li>

                        </ul>
                    </li>

                    <!-- Nav item Pages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Trang</a>
                        <ul class="dropdown-menu" aria-labelledby="pagesMenu">

                            <li><a class="dropdown-item" href="about.html">Về chúng tôi</a></li>
                            <li><a class="dropdown-item" href="contact.html">Liên hệ</a></li>
                            <li><a class="dropdown-item" href="team.html">Đội ngũ của chúng tôi</a></li>
                            <li><a class="dropdown-item" href="/host-intro">Đăng ký cho thuê</a></li>


                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Xác thực</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="/login">Đăng nhập</a></li>
                                    <li><a class="dropdown-item" href="/register">Đăng ký</a></li>
                                    <li><a class="dropdown-item" href="forgot-password.html">Quên mật khẩu</a></li>
                                    <li><a class="dropdown-item" href="two-factor-auth.html">Xác thực hai bước</a></li>
                                </ul>
                            </li>


                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Bài viết</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="blog.html">Danh sách bài viết</a></li>
                                    <li><a class="dropdown-item" href="blog-detail.html">Chi tiết bài viết</a></li>
                                </ul>
                            </li>


                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Trợ giúp</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="help-center.html">Trung tâm trợ giúp</a></li>
                                    <li><a class="dropdown-item" href="help-detail.html">Chi tiết trợ giúp</a></li>
                                    <li><a class="dropdown-item" href="privacy-policy.html">Chính sách quyền riêng
                                        tư</a></li>
                                    <li><a class="dropdown-item" href="terms-of-service.html">Điều khoản dịch vụ</a>
                                    </li>
                                </ul>
                            </li>


                            <li><a class="dropdown-item" href="pricing.html">Bảng giá</a></li>
                            <li><a class="dropdown-item" href="faq.html">Câu hỏi thường gặp</a></li>
                            <li><a class="dropdown-item" href="error.html">Lỗi 404</a></li>
                            <li><a class="dropdown-item" href="coming-soon.html">Sắp ra mắt</a></li>

                        </ul>
                    </li>

                    <!-- Nav item Account -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="accounntMenu" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Tài khoản</a>
                        <ul class="dropdown-menu" aria-labelledby="accounntMenu">
                            <!-- Dropdown submenu -->
                            <!-- Hồ sơ người dùng -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Hồ sơ người dùng</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="/user-profile">Hồ sơ của tôi</a></li>
                                    <li><a class="dropdown-item" href="bookingHistory">Đặt phòng của tôi</a></li>
                                    <li><a class="dropdown-item" href="account-travelers.html">Người đi cùng</a></li>
                                    <li><a class="dropdown-item" href="account-payment-details.html">Chi tiết thanh
                                        toán</a></li>
                                    <li><a class="dropdown-item" href="account-wishlist.html">Danh sách yêu thích</a>
                                    </li>
                                    <li><a class="dropdown-item" href="account-settings.html">Cài đặt</a></li>
                                    <li><a class="dropdown-item" href="account-delete.html">Xóa tài khoản</a></li>
                                </ul>
                            </li>

                            <!-- Bảng điều khiển đại lý -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Bảng điều khiển đại lý</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="agent-dashboard.html">Tổng quan</a></li>
                                    <li><a class="dropdown-item" href="agent-listings.html">Danh sách bất động sản</a>
                                    </li>
                                    <li><a class="dropdown-item" href="agent-bookings.html">Đặt phòng</a></li>
                                    <li><a class="dropdown-item" href="agent-activities.html">Hoạt động</a></li>
                                    <li><a class="dropdown-item" href="agent-earnings.html">Thu nhập</a></li>
                                    <li><a class="dropdown-item" href="agent-reviews.html">Đánh giá</a></li>
                                    <li><a class="dropdown-item" href="agent-settings.html">Cài đặt</a></li>
                                </ul>
                            </li>

                            <!-- Quản trị viên -->
                            <li><a class="dropdown-item" href="admin-dashboard.html">Quản trị viên</a></li>

                        </ul>
                    </li>

                    <!-- Nav item link-->
                    <li class="nav-item dropdown d-none">
                        <a class="nav-link" href="#" id="advanceMenu" data-bs-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <ul class="dropdown-menu min-w-auto" data-bs-popper="none">
                            <li>
                                <a class="dropdown-item" href="#" target="_blank">
                                    <i class="text-warning fa-fw bi bi-life-preserver me-2"></i>Support
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="docs/index.html" target="_blank">
                                    <i class="text-danger fa-fw bi bi-card-text me-2"></i>Documentation
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" target="_blank">
                                    <i class="text-info fa-fw bi bi-toggle-off me-2"></i>RTL demo
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" target="_blank">
                                    <i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>Buy Booking!
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="docs/alerts.html" target="_blank">
                                    <i class="text-orange fa-fw bi bi-puzzle-fill me-2"></i>Components
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Main navbar END -->

            <!-- Profile and Notification START -->
            <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
                <!-- Search dropdown START -->
                <li class="nav-item dropdown nav-search me-3 d-none d-sm-block">
                    <!-- Nút tìm kiếm -->
                    <a class="nav-notification btn btn-light mb-0 p-0" href="#" id="searchDropdown" role="button"
                       data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="bi bi-search"></i>
                    </a>

                    <!-- Nội dung dropdown -->
                    <div class="dropdown-menu dropdown-animation dropdown-menu-end p-2"
                         aria-labelledby="searchDropdown">
                        <div class="nav flex-nowrap align-items-center">
                            <div class="nav-item w-100">
                                <!-- Form tìm kiếm -->
                                <form class="input-group" action="/hotel-list" method="GET">
                                    <input class="form-control border-primary" type="search" name="search"
                                           placeholder="Tìm kiếm..." aria-label="Search">
                                    <button class="btn btn-primary m-0" type="submit">Tìm kiếm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Search dropdown END -->

                <!-- Notification dropdown START -->
                <li class="nav-item dropdown me-3">
                    <!-- Notification button -->
                    <a class="nav-notification btn btn-light p-0 mb-0" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" data-bs-auto-close="outside">
                        <i class="bi bi-bell fa-fw"></i>
                    </a>
                    <!-- Notification dote -->
                    <span class="notif-badge animation-blink"></span>

                    <!-- Notification dropdown menu START -->
                    <div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md shadow-lg p-0">
                        <div class="card bg-transparent">
                            <!-- Card header -->
                            <div class="card-header bg-transparent d-flex justify-content-between align-items-center border-bottom">
                                <h6 class="m-0">Thông báo</h6>
                                <a class="small" href="#" id="clearNotifications">Xóa thông báo</a>
                            </div>

                            <!-- Card body START -->
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush list-unstyled p-2" id="notificationList">
                                    <!-- Notification item -->
                                    <li>
                                        <a href="#" class="list-group-item list-group-item-action rounded notif-unread border-0 mb-1 p-3">
                                            <h6 class="mb-2">Bạn đã đặt thành công khách sạn tại Đà Nẵng 🏨</h6>
                                            <p class="mb-0 small">Xem chi tiết đặt phòng của bạn và chuẩn bị cho chuyến đi.</p>
                                            <span>Hôm nay</span>
                                        </a>
                                    </li>
                                    <!-- Notification item -->
                                    <li>
                                        <a href="#" class="list-group-item list-group-item-action rounded border-0 mb-1 p-3">
                                            <h6 class="mb-2">Ưu đãi đặc biệt: Giảm đến 40% cho khách sạn 5 sao 🌟</h6>
                                            <p class="mb-0 small">Nhanh tay đặt ngay để không bỏ lỡ!</p>
                                            <span>Hôm qua</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Card body END -->

                            <!-- Card footer -->
                            <div class="card-footer bg-transparent text-center border-top">
                                <a href="#" class="btn btn-sm btn-link mb-0 p-0">Xem tất cả thông báo</a>
                            </div>
                        </div>
                    </div>

                    <!-- Notification dropdown menu END -->
                </li>
                <!-- Notification dropdown END -->

                <!-- SHOW PROFILE DROPDOWN WHEN LOGGED IN -->
                <li class="nav-item dropdown" th:if="${session.user != null}">
                    <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button"
                       data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img class="avatar-img rounded-2" src="assets/images/avatar/01.jpg" alt="avatar">
                    </a>

                    <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
                        aria-labelledby="profileDropdown">
                        <li class="px-3 mb-3">
                            <div class="d-flex align-items-center">
                                <div class="avatar me-3">
                                    <img class="avatar-img rounded-circle shadow" src="assets/images/avatar/01.jpg" alt="avatar">
                                </div>
                                <div>
                                    <a class="h6 mt-2 mt-sm-0" href="#">
                                        <span th:text="${session.user.fullname != '' ? session.user.fullname : 'No Name'}"></span>
                                    </a>
                                    <p class="small m-0">
                                        <span th:text="${session.user.email}"></span>
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li><hr class="dropdown-divider"></li>
                        <li th:if="${session.user.role == 'HOTEL OWNER'}">
                            <a class="dropdown-item" href="/host-dashboard">
                                <i class="bi bi-buildings fa-fw me-2"></i>Quản lý khách sạn
                            </a>
                        </li>
                        <li th:if="${session.user.role == 'CUSTOMER'}">
                            <a class="dropdown-item" href="/host-intro">
                                <i class="bi bi-door-open fa-fw me-2"></i>Đăng ký cho thuê
                            </a>
                        </li>


                        <li><a class="dropdown-item" href="bookingHistory"><i class="bi bi-bookmark-check fa-fw me-2"></i>Đặt phòng của tôi</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-heart fa-fw me-2"></i>Danh sách yêu thích</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Cài đặt</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Trung tâm trợ giúp</a></li>
                        <li><a class="dropdown-item bg-danger-soft-hover" href="/logout"><i class="bi bi-power fa-fw me-2"></i>Đăng xuất</a></li>

                        <li><hr class="dropdown-divider"></li>
                        <!-- Dark mode options can go here -->
                    </ul>
                </li>

                <!-- SHOW LOGIN BUTTON WHEN NOT LOGGED IN -->
                <li class="nav-item" th:unless="${session.user != null}">
                    <a class="btn btn-sm btn-primary" href="/login">
                        <i class="bi bi-box-arrow-in-right me-1"></i> Đăng nhập
                    </a>
                </li>



            </ul>
            <!-- Profile and Notification START -->
        </div>
    </nav>
    <!-- Logo Nav END -->
</header>

